.gral{ :'ng-controller' => 'gralCtrl' }
	=partial 'partial/sidebar'
	=partial 'partial/header'
	=partial 'partial/experience'
	=partial 'partial/portfolio'
	=partial 'partial/formation'
	=partial 'partial/instagram'
	=partial 'partial/tweets'
	=partial 'partial/contact'
	=partial 'partial/signature'
	=partial 'partial/footer'