=partial 'partial/sidebar'
=partial 'partial/header'
=partial 'partial/experience'
=partial 'partial/tweets'
=partial 'partial/portfolio'
=partial 'partial/formation'
=partial 'partial/instagram'
=partial 'partial/essentials'
=partial 'partial/contact'
=partial 'partial/signature'
=partial 'partial/footer'