#ronnie{ :'ng-class' => '{active:head}' }
	Ronnie Acevedo Fuentealba
%header{ :'parallax-background' => 'parallax-background', :'parallax-ratio' => '-0.2' }
	.about
		%h1#about.main-title{ :'ng-class' => '{min:head}', :'parallax' => 'parallax', :'parallax-ratio' => '0.4' }
			Ronnie Acevedo <br> Fuentealba
		.desc{ :'ng-show' => 'lang==1', :'parallax' => 'parallax', :'parallax-ratio' => '0.4' }
			%p
				Diseñador de Interacción enfocada en el Diseño de Experiencias en medios digitales. Con conocimientos avanzados en Arquitectura de la Información, Usabilidad y Desarrollo Web. Estoy en constante busqueda de generar productos y servicios que estén enfocados a los usuarios finales, para generar experiencias adecuadas y cumplir objetivos.
			
			%p
				Cuento con la experiencia de un trabajo multidisciplinario en el cual he participado en variados desarrollos colaborando entre sus diferentes etapas involucradas en estos.
		.desc{ :'ng-show' => 'lang==2', :'parallax' => 'parallax', :'parallax-ratio' => '0.4' }
			%p
				I'm the best UX.
			
			%p
				Another text.