#ronnie{ :'ng-class' => '{active:head}' }
	Ronnie Acevedo Fuentealba
%header{ :'parallax-background' => 'parallax-background', :'parallax-ratio' => '-0.2' }
	.sig{ :'ng-show' => 'lang==1' }
		Fotografía por <a href="http://pablosanhueza.com" target="_blank">Pablo Sanhueza</a>
	.sig{ :'ng-show' => 'lang==2' }
		Photography by <a href="http://pablosanhueza.com" target="_blank">Pablo Sanhueza</a>
	.about
		%h1#about.main-title{ :'ng-class' => '{min:head}', :'parallax' => 'parallax', :'parallax-ratio' => '0.4' }
			Ronnie Acevedo <br> Fuentealba
		.desc{ :'ng-show' => 'lang==1', :'parallax' => 'parallax', :'parallax-ratio' => '0.4' }
			%p
				Soy Diseñador de Experiencia de Usuario (UXer, UX Designer), con experiencia en investigación, diseño de interacción y usabilidad. Cuento con experiencia de un trabajo versátil adquirida por medio de la participación en múltiples proyectos de TI.
				
		.desc{ :'ng-show' => 'lang==2', :'parallax' => 'parallax', :'parallax-ratio' => '0.4' }
			%p
				I'm the best UX.
			
			%p
				Another text.
	