%section
	.contact#contact
		.container
			.row
				.col-sm-12
					%h2.text-center
						%span{ :'ng-show' => 'lang==1' }
							Contacto
						%span{ :'ng-show' => 'lang==2' }
							Contact
				.col-sm-12
					%hr.center
			.email.text-center
				contacto(at)ronnieacevedo.cl