%section
	.experience#experience
		.container
			.row
				.col-sm-12
					%h2.text-center
						%span{ :'ng-show' => 'lang==1' }
							Experiencia
						%span{ :'ng-show' => 'lang==2' }
							Experience
				.col-sm-12
					%hr.center
				.col-sm-3
					%h4
						2009
					%hr.left
					.title
						Agencia Flujo
					%span
						= precede '/' do
							Diseñador Gráfico
				.col-sm-3
					%h4
						2012
					%hr.left
					.title
						Brandbook
					%span
						= precede '/' do
							AI, UX Designer
				.col-sm-3
					%h4
						2013
					%hr.left
					.title
						2Brains
					%span
						= precede '/' do
							AI, UX Designer
				.col-sm-3
					%h4
						2015
					%hr.left
					.title
						Globant
					%span
						= precede '/' do
							UX Designer
			.row.narrow
				%p.text-center
					Por medio de mi trabajo en cada uno de experiencia en cada una de estas empresa he trabahjado con:
					%span
						Mapfre, Jumbo, Alto las Condes, Kross, AFP Habitat, Camara de Comercio, Santa Isabel, Cencosud, La Cav