%footer.text-center
	.container
		.narrow
			.col-sm-4
				%a.text-center{ :'href' => '#', :'target' => '_blank' }
					%h5
						Twitter
			.col-sm-4
				%a.text-center{ :'href' => '#', :'target' => '_blank' }
					%h5
						Instagram
			.col-sm-4
				%a.text-center{ :'href' => '#', :'target' => '_blank' }
					%h5
						Linkedin
	%small
		= precede '- ' do
			desde Chile -