%footer.text-center
	.container
		.narrow
			%a.text-center{ :'href' => '#', :'target' => '_blank' }
				%h5
					LinkedIn
			%a.text-center{ :'href' => '#', :'target' => '_blank' }
				%h5
					Twitter
			%a.text-center{ :'href' => '#', :'target' => '_blank' }
				%h5
					Facebook
			%a.text-center{ :'href' => '#', :'target' => '_blank' }
				%h5
					Instagram
			%a.text-center{ :'href' => '#', :'target' => '_blank' }
				%h5
					Medium
			%a.text-center{ :'href' => '#', :'target' => '_blank' }
				%h5
					Ello
			%a.text-center{ :'href' => '#', :'target' => '_blank' }
				%h5
					Tumblr

	%small
		= precede '- ' do
			desde Chile -