%section
	.formation#formation
		.container
			.row
				.col-sm-12
					%h2.text-center
						%span{ :'ng-show' => 'lang==1' }
							Formación
						%span{ :'ng-show' => 'lang==2' }
							Formation
				.col-sm-12
					%hr.center
			.narrow
				.col-sm-4
					%h5
						Diseño Gráfico
					%hr.left
					.title
						Duoc UC
					%span.it
						Titulado, 2010
				.col-sm-4
					%h5
						Digital Publishing
					%hr.left
					.title
						Academia MAC
					%span.it
						Diplomado, 2011
				.col-sm-4
					%h5
						AI / UX
					%hr.left
					.title
						U. del Pacífico
					%span.it
						Diplomado, 2012