%section.instagram{ :'ng-controller' => 'instagramCtrl' }
	
	.insta
		.col-sm-12
			%p.text-center{ :'ng-hide' => 'photos' }
				Loading instagram...
		.col-sm-6.col-md-3.photo{ :'ng-repeat' => 'photo in photos' }
			%a{ :'href' => '{{photo.link}}', :'target' => '_blank' }
				%img.img-responsive{ :'ng-src' => '{{photo.images.standard_resolution.url}}' }
		.col-xs-6
			%h3
				Instagram
		.col-xs-6
			
			%a.nounder.insta{ :'href' => 'https://instagram.com/ronacev', :'target' => '_blank' }
				.follow
					%i.fa.fa-instagram
					ronacev
			%span.fm
				follow me