%section
	.portfolio#portfolio
		.container
			.row
				.col-sm-12
					%h2.text-center
						%span{ :'ng-show' => 'lang==1' }
							Portafolio
						%span{ :'ng-show' => 'lang==2' }
							Portfolio
				