%section#portfolio.portfolio{ :'ng-controller' => 'instagramCtrl' }
	
	.container
		.row
			.col-sm-12
				%h2.text-center
					%span{ :'ng-show' => 'lang==1' }
						Portafolio
					%span{ :'ng-show' => 'lang==2' }
						Portfolio
	.narrow
		.col-sm-12
			%p.text-center{ :'ng-hide' => 'photos' }
				Loading portfolio...
		.col-sm-6.col-md-4.porta{ :'ng-repeat' => 'photo in photos' }
			%a{ :'ng-click' => 'fullscreen(); full=true' }
				.togfull.fullscreen{ :'ng-class' => '{full: full}' }
					=partial 'partial/modal/modal'
				%img.img-responsive{ :'ng-src' => '{{photo.images.standard_resolution.url}}' }
			