%section.tweets
	.container{ :'ng-controller' => 'twitterCtrl' }
		%hr
		%p.text-center{ :'ng-hide' => 'feed' }
			Loading tweets...
		#tweets.narrow
			.item{ :'ng-repeat' => 'tweet in feed.tweets | filter: tweet.author.nickName==\'@ronacev\' | limitTo: 1 ' }
				%h3.text-center
					.tweet{ :'ng-bind-html' => 'tweet.text | linky' }
					.date.text-center
						{{tweet.updated}}
			%a.nounder.tw{ :'href' => 'https://twitter.com/ronacev', :'target' => '_blank' }
				.follow
					%i.fa.fa-twitter
					Follow me @ronacev



	