%section.last-tweet.tweets
	.container{ :'ng-controller' => 'twitterCtrl' }
		#tweets.narrow
			.item{ :'ng-repeat' => 'tweet in feed.tweets | limitTo: 1 ' }
				.col-sm-12
					%h3.text-center
						.tweet{ :'ng-bind-html' => 'tweet.text | linky' }
						.date.text-center
							{{tweet.updated}}
				
			.col-xs-12
				%a.nounder.tw{ :'href' => 'https://twitter.com/ronacev', :'target' => '_blank' }
					.follow
						%i.fa.fa-twitter 
						follow me @ronacev
				


	